.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}



@media (max-width: 370px) {
    .card-text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 7; /* number of lines to show */
                line-clamp: 7;
        -webkit-box-orient: vertical;
    }}

@media (max-width: 270px) {
    .card-text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5; /* number of lines to show */
                line-clamp: 5;
        -webkit-box-orient: vertical;
    }}

@media (max-width: 200px) {
    .card-text{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3; /* number of lines to show */
                line-clamp: 3;
        -webkit-box-orient: vertical;
    }}

    @media (max-width: 150px) {
        .card-text{
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 1; /* number of lines to show */
                    line-clamp: 1;
            -webkit-box-orient: vertical;
        }}

@media (max-width: 2000px) {
    .card {
        width: 20rem;
        height: 27rem;
    }}

@media (max-width: 1700px) {
    .card {
        width: 23rem;
        height: 30rem;
    }}

@media (max-width: 1250px) {
    .card {
        width: 25rem;
        height: 32rem;
    }}
@media (max-width: 1000px) {
    .card {
        width: 30rem;
        height: 35rem;
    }}