.box{    margin-top: 10px;
    display: contents;}

.navbar{
    bottom: unset !important;
    position: relative !important;
    display: flex;
    height: 350px;
    background: url("./assets/bck.jpg");
    background-size: 100% 130%;
    width: 100%;
}
[id='1']{
    align-self: flex-end;

}